/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';
@import 'primeng/resources/themes/luna-green/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeflex/primeflex.min.css';
@import 'assets/css/container.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a {
	text-decoration: none;
	color: var(--primary-color);
	&:hover{
		text-decoration: underline;
	}
}

//custom primeng
.p-card-footer{padding-top: 0px!important;}
.p-card-content{padding-top: 0px!important;}
.p-dialog-header{padding: 5px!important;}
