<div class="container p-mt-3">
	<p-card>
		<div class="card-header">
			<h2 class="title">Projets</h2>
			<p-button icon="pi pi-plus-circle" label="Ajouter" iconPos="left" (click)="onAdd()"></p-button>
		</div>
		<hr>
		<div *ngIf="!(projects$ | async).length">
			<h1 align="center">Aucun Projet Trouvé</h1>
		</div>
		<div class="p-grid p-jc-around">
			<div class="project-item p-col-12 p-md-5" *ngFor="let project of (projects$ | async)">
				<h3 class="title" [routerLink]="project.id + '/tasks'">{{ project.title }}</h3>
				<div class="p-d-flex p-jc-between p-ai-center p-mt-3">
					<button pButton icon="pi pi-pencil" type="button" (click)="onEdit(project)"></button>
					<button class="p-ml-1 p-button-danger" pButton icon="pi pi-trash" type="button" (click)="onDelete(project.id)"></button>
				</div>
			</div>
		</div>
	</p-card>
</div>

<p-confirmDialog></p-confirmDialog>