.content {
	background: var(--surface-c);
	overflow: auto;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.register-card {
		width: 30%;
	}
}

.p-card-content{
	padding-bottom: 0px;
}