<div>
  <p-selectButton
    *ngIf="action === 'edit'"
    styleClass="w-full flex justify-content-around mb-2"
    [options]="status"
    [(ngModel)]="taskForm.status"
    optionLabel="label"
    optionValue="value"
  ></p-selectButton>

  <input
    class="w-full mb-2"
    type="text"
    placeholder="Title"
    pInputText
    [(ngModel)]="taskForm.title"
    maxlength="200"
  />

  <div class="text-right">
    <button
      pButton
      [label]="action === 'add' ? 'Add' : 'Update'"
      (click)="onSubmit()"
      [disabled]="!taskForm.title"
    ></button>
  </div>
</div>
