<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-12">
    <input
      type="text"
      placeholder="Titre"
      pInputText
      [(ngModel)]="taskForm.title"
      maxlength="200"
    />
  </div>

  <div class="p-field p-col-12" *ngIf="action === 'edit'">
    <p-selectButton
      [options]="status"
      [(ngModel)]="taskForm.status"
      optionLabel="label"
      optionValue="value"
    ></p-selectButton>
  </div>

  <button
    pButton
    [label]="action === 'add' ? 'Ajouter' : 'Modifier'"
    (click)="onSubmit()"
    [disabled]="!taskForm.title"
  ></button>
</div>
