<div class="container mt-3">
  <p-card>
    <div class="flex justify-content-between align-items-end">
      <h2 class="m-0">Project list</h2>
      <div>
        <p-button
          class="mr-2"
          icon="pi pi-plus-circle"
          label="Add project"
          iconPos="left"
          (click)="onAdd()"
        ></p-button>
        <p-button
          icon="pi pi-sign-out"
          label="Logout"
          iconPos="left"
          (click)="onLogout()"
        ></p-button>
      </div>
    </div>

    <hr class="mb-5" />

    <div *ngIf="!(projects$ | async).length">
      <h1 align="center">No project found</h1>
    </div>

    <div
      class="flex justify-content-between align-items-center p-2 mb-2 bg-primary-reverse border-round"
      *ngFor="let project of projects$ | async"
    >
      <h4
        class="text-white underline m-0 cursor-pointer"
        [routerLink]="project.id + '/tasks'"
      >
        {{ project.title }}
      </h4>
      <div>
        <button
          class="mr-2"
          pButton
          icon="pi pi-pencil"
          type="button"
          (click)="onEdit(project)"
        ></button>
        <button
          class="p-ml-1 p-button-danger"
          pButton
          icon="pi pi-trash"
          type="button"
          (click)="onDelete(project.id)"
        ></button>
      </div>
    </div>
  </p-card>
</div>

<p-confirmDialog></p-confirmDialog>
