<div class="d-flex justify-content-center align-items-center">
	<mat-card class="mt-3" [ngStyle]="{width: '400px'}">
		<mat-card-title align="center">Cart</mat-card-title>
	 	<mat-card-content>
	 		<div class="d-flex justify-content-around align-items-center">
			  <mat-form-field>
			  	<input matInput placeholder="New item" [(ngModel)]="newProduct">
			  </mat-form-field>
			  <button mat-raised-button color="primary" [disabled]="!newProduct" (click)="onAdd()"><mat-icon>add</mat-icon></button>
	 		</div>
	 		<hr>
	 		<h3>Cart list: {{ (loading$ | async) ? "Loading" : ""}}</h3>
		  <mat-list role="list">
			  <mat-list-item role="listitem" *ngFor="let product of products$ | async" class="d-flex align-items-center justify-content-between">
			  	<span>{{ product.name }}</span>
			  	<button mat-icon-button color="warn" (click)="onDelete(product._id)"><mat-icon>clear</mat-icon></button>
			  </mat-list-item>
			</mat-list>

	 	</mat-card-content>

	</mat-card>
</div>