<div
  class="bg-primary-reverse min-h-full flex justify-content-center align-items-center overflow-auto"
>
  <p-card class="w-25rem">
    <h2 class="m-0 text-center">Login</h2>
    <form #f="ngForm" class="mt-3 flex flex-column">
      <p-message
        class="mb-2 text-center"
        *ngIf="error$ | async"
        severity="warn"
        [text]="error$ | async"
      ></p-message>

      <div class="mb-2">
        <input
          class="w-full"
          type="text"
          placeholder="Username"
          name="username"
          ngModel
          required
          pInputText
        />
      </div>

      <div class="mb-2">
        <input
          class="w-full"
          type="password"
          placeholder="Password"
          name="password"
          ngModel
          required
          pInputText
        />
      </div>

      <button
        class="mt-1"
        pButton
        label="Submit"
        [disabled]="f.invalid"
        (click)="onSubmit(f.value)"
        [loading]="isLoading$ | async"
      ></button>
    </form>

    <div class="text-right mt-2">
      <a routerLink="/register">Create an account</a>
    </div>
  </p-card>
</div>
