<div class="container mt-4">
  <p-card>
    <h1 class="text-center m-0">
      {{ project ? project.title : "Loading project..." }}
    </h1>
  </p-card>
  <button
    pButton
    icon="pi pi-arrow-left"
    iconPos="left"
    label="Back"
    class="mt-2 mb-5"
    routerLink="/app/projects"
  ></button>

  <div *ngIf="project">
    <p-accordion>
      <p-accordionTab header="Filter">
        <div class="grid">
          <div class="col-12 md:col-5">
            <input
              class="w-full"
              type="text"
              placeholder="Title"
              pInputText
              [(ngModel)]="filter.title"
            />
          </div>

          <div class="col-12 md:col-5">
            <p-dropdown
              styleClass="w-full"
              [options]="status"
              [(ngModel)]="filter.status"
            ></p-dropdown>
          </div>

          <div
            class="col-12 md:col-2 text-right"
            *ngIf="filter.title || filter.status"
          >
            <button
              pButton
              icon="pi pi-times"
              class="p-ml-2 p-button-danger"
              (click)="onResetFilter()"
            ></button>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>

    <p-card>
      <div class="text-center">
        <button
          pButton
          class="p-button-rounded"
          icon="pi pi-plus"
          (click)="onAdd()"
        ></button>
      </div>

      <hr />

      <div
        class="bg-primary-reverse border-round flex justify-content-between align-items-center p-2 mb-2"
        *ngFor="let task of tasks"
      >
        <h3 class="m-0 text-white">
          {{ task.title }} : {{ task.status | taskstatus }}
        </h3>
        <div>
          <button
            class="mr-2"
            pButton
            icon="pi pi-pencil"
            (click)="onEdit(task)"
          ></button>
          <button
            pButton
            icon="pi pi-minus"
            class="p-button-danger"
            (click)="onDelete(task.id)"
          ></button>
        </div>
      </div>

      <div *ngIf="!tasks.length">
        <h2 class="text-center">No task found</h2>
      </div>
    </p-card>
  </div>
</div>
